<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div class="container">
    <header class="header">
      <video class="bg-video" muted autoplay loop>
        <source src="#" type="#">
      </video>
      <div class="content">
        <h1 class="main-heading">
          <span class="main-heading_level-up levelup">“LevelUp”.</span>
          <span class="main-heading_sub-text"> Продукт для повышения потенции.</span>
        </h1>
        <img class="header_product-img" src=<%= require('img/product.png') %> alt="product">
        <a href="#order-form" class="header_button button-order">Заказать</a>
        <ul class="characteristic-list">
          <li class="characteristic-list_item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
             mollis velit quam, id dignissim nisl gravida eu. Phasellus pellentesque suscipit.</li>
          <li class="characteristic-list_item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis 
            lacus id mauris suscipit interdum.</li>
          <li class="characteristic-list_item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
             vitae mattis ligula. Etiam sodales sollicitudin nisl, sit amet cursus nisi congue in. Donec sed nisi.</li>
        </ul>
      </div>
    </header>
    <section class="product">
      <ul class="components-list components-list__left">
        <li class="components-list_item components-list_item__left">
          <div class="components-list_img-container">
            <img src=<%= require('img/icon-smile-star.png') %> alt="component 1" class="components-list_img">
          </div>
          <div class="components-list_text-container components-list_text-container__left">
            <p class="components-list_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non.
            </p>
          </div>
        </li>
        <li class="components-list_item components-list_item__left">
          <div class="components-list_img-container">
            <img src=<%= require('img/icon-med.png') %> alt="component 2" class="components-list_img">
          </div>
          <div class="components-list_text-container components-list_text-container__left">
            <p class="components-list_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac porta ex, id mattis felis.
            </p>
          </div>
        </li>
        <li class="components-list_item components-list_item__left">
          <div class="components-list_img-container">
            <img src=<%= require('img/icon-candy.png') %> alt="component 3" class="components-list_img">
          </div>
          <div class="components-list_text-container components-list_text-container__left">
            <p class="components-list_text">Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
      </ul>
      <div class="central">
        <h2 class="central_heading levelup">“LevelUp”.</h2>
        <div class="central_img-container">
          <img class="central_img" src=<%= require('img/product.png') %> alt="product" class="central_img">
        </div>
        <a href="#order-form" class="central_button button-order">Заказать</a>
      </div>
      <ul class="components-list components-list__right">
        <li class="components-list_item components-list_item__right">
          <div class="components-list_img-container">
            <img src=<%= require('img/icon-happy.png') %> alt="component 1" class="components-list_img">
          </div>
          <div class="components-list_text-container components-list_text-container__right">
            <p class="components-list_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non.
            </p>
          </div>
        </li>
        <li class="components-list_item components-list_item__right">
          <div class="components-list_img-container">
            <img src=<%= require('img/icon-drink.png') %> alt="component 2" class="components-list_img">
          </div>
          <div class="components-list_text-container components-list_text-container__right">
            <p class="components-list_text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac porta ex, id mattis felis.
            </p>
          </div>
        </li>
        <li class="components-list_item components-list_item__right">
          <div class="components-list_img-container">
            <img src=<%= require('img/icon-smile-smiley.png') %> alt="component 3" class="components-list_img">
          </div>
          <div class="components-list_text-container components-list_text-container__right">
            <p class="components-list_text">Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="feedbacks">
      <h3 class="feedbacks_heading">О нас говорят!</h3>
      <div class="carousel">
        <div class="carousel_tape">
          <div class="carousel_slide carousel_slide__prev">
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tellus metus, luctus a consequat eu, ultricies 
              id nisl. Sed vitae nunc sit amet ipsum aliquet placerat eu in ante. Proin nulla purus, placerat sit amet 
              felis nec, molestie tristique orci. Vivamus aliquam, nulla et consectetur lacinia, mi dui efficitur 
              lacus, nec lobortis justo ante suscipit tellus. Maecenas suscipit, eros et dignissim interdum, tortor 
              tortor viverra ante, eu viverra urna est nec turpis. Duis finibus justo lacus. Fusce at diam suscipit, 
              mollis erat vel, auctor justo. Vestibulum venenatis tempor semper. Nulla vitae ligula erat. Aenean eu 
              commodo eros. Mauris a egestas ligula. Proin et sollicitudin sem, sit amet tincidunt augue.
            </p>
            <div class="user">
              <span class="user_name">Another User Name</span>
              <img src="#" alt="user" class="user_img">
            </div>
          </div>
          <div class="carousel_slide carousel_slide__current">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a sollicitudin mauris, 
              eu hendrerit ligula. Phasellus et ligula faucibus, convallis sapien non, tempor tortor. Nam ultricies 
              elementum nulla sed laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc euismod 
              nisi placerat eros rhoncus, ac efficitur neque consectetur. Morbi tempus sodales leo a vestibulum. Nam 
              turpis lectus, sodales sed velit ut, ullamcorper pulvinar lacus. Duis sodales, nibh a varius pulvinar, 
              libero elit pellentesque est, nec convallis metus neque quis arcu. Donec vitae eleifend est.
            </p>
            <p class="text">
              Morbi at ultricies risus. Maecenas eget facilisis mi. Integer feugiat sollicitudin ipsum ut laoreet. 
              Fusce quis lectus tempor, ultricies quam sed, porttitor odio. Cras consequat congue posuere. Quisque 
              sodales aliquet lorem et volutpat. Nam quis dolor sed lectus vestibulum porta nec semper leo. Cras 
              facilisis nulla ante, eu tincidunt magna rhoncus vel. Praesent ac semper lectus, non eleifend libero. 
              Maecenas ullamcorper congue mi, sit amet hendrerit quam aliquam vitae. Sed quis consectetur lorem. Duis 
              purus velit, suscipit quis elementum in, tempus ac elit. Curabitur consequat in est ut feugiat.
            </p>
            <div class="user">
              <span class="user_name">User Name</span>
              <img src="#" alt="user" class="user_img">
            </div>
          </div>
          <div class="carousel_slide carousel_slide__next">
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel risus ac libero dapibus cursus. 
              Quisque maximus auctor vestibulum. Duis maximus odio vel tellus auctor, eu sollicitudin arcu pretium. 
              Nam molestie ac mauris sed convallis. Curabitur viverra justo quis mauris volutpat aliquam. Donec 
              eleifend felis sit amet ligula iaculis, a congue dui laoreet. Aliquam finibus a tortor vitae faucibus. 
              Proin ac turpis vitae magna fermentum faucibus ac et leo. Vivamus auctor ultrices convallis. Nunc in 
              lorem in leo feugiat ultrices at ut risus. Vivamus malesuada urna pellentesque, faucibus lorem nec, 
              ultricies tortor.
            </p>
            <p class="text">
              Aliquam dui mi, mattis quis ultrices quis, feugiat a ligula. Nulla commodo in ante eu facilisis. 
              Vestibulum id viverra tortor. Mauris ultrices sollicitudin ante quis malesuada. Praesent tincidunt, 
              arcu consectetur efficitur volutpat, turpis nisi dapibus diam, a dictum purus lorem sed enim. Sed 
              non vehicula turpis. Fusce egestas scelerisque iaculis. Donec ac ante accumsan sem condimentum 
              congue in vel elit. Donec eget augue ut felis molestie placerat sed at libero.
            </p>
            <div class="user">
              <span class="user_name">Again Another User Name</span>
              <img src="#" alt="user" class="user_img">
            </div>
          </div>
        </div>
        <div class="carousel_controls">
          <button class="carousel_left-control">&#8249;</button>
          <button class="carousel_right-control">&#8250;</button>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
