@use './m-colors'
@use './m-fonts'
@use './m-media'
  
.header
  display: flex
  flex-direction: column
  justify-content: center
  height: 600px
  position: relative
  overflow: hidden
  &_product-img
    display: block
    min-height: 240px
    position: absolute
    top: 93px
    left: 120px
  &_button
    align-self: flex-end
    margin: 0 300px 0 0

.bg-video
  width: 100%
  background: rgba(250, 251, 189, 0.2)
  position: absolute
  z-index: 0
  top: 0
  left: 0

.main-heading
  display: flex
  flex-direction: column
  align-self: center
  width: 460px
  padding: 0
  box-sizing: border-box
  margin: 0 0 23px 0
  z-index: 1
  &_sub-text
    align-self: flex-end

.content
  display: flex
  flex-direction: column
  padding: 11px
  box-sizing: border-box
  align-self: center
  width: 960px
  border-radius: 7px
  background: #FFFFF1
  position: relative
  z-index: 1

.characteristic-list
  align-self: flex-end
  width: 600px
  padding: 23px
  border-radius: 37px
  box-sizing: border-box
  list-style-type: none
  background: #FFF5FC
  margin: 23px 0 0 0
  &_item
    @extend %font-item
    margin: 0 0 12px 0
    &:last-child
      margin: 0
    &::before
      content: "* "

@media screen and ( max-width: m-media.$tablet )
  .bg-video
    height: 100%

@media screen and ( max-width: m-media.$mobile )
  .header
    height: auto
    &_product-img
      display: none
    &_button
      margin: 0 auto
      order: 2
  .bg-video
    display: none
  .content
    height: 100%
    width: 100%
    padding: 20px 0
  .main-heading
    width: 100%
    align-items: center
    &_sub-text
      align-self: auto
  .characteristic-list
    width: 100%
    border-radius: 0
    margin: 0 0 23px 0
