@use './normalize.css'

@use './m-colors'
@use './m-fonts'

@use './header'
@use './product'
@use './feedbacks'

.container
  max-width: 1440px
  min-width: 360px
  background: white
  margin: 0 auto

.button-order
  display: flex
  justify-content: center
  align-items: center
  width: 280px
  height: 60px
  border: 1px solid m-colors.$levelup-sub
  outline: none
  box-sizing: border-box
  box-shadow: 0px 2px 2px -1px m-colors.$levelup-sub
  border-radius: 11px
  background: m-colors.$button-bg
  font-family: Open Sans
  font-style: normal
  font-weight: normal
  font-size: 28px
  line-height: 38px
  color: m-colors.$levelup
  text-decoration: none
  text-shadow: 2px -1px 0px m-colors.$gold
  &:hover
    box-shadow: 4px 11px 7px rgba(255, 189, 18, 0.45)
    cursor: pointer
  &:focus
    border: 1px solid #FFBD12
    box-shadow: 0px 2px 2px -1px #FFBD12
  &:active
    box-shadow: inset -7px 11px 11px rgba(196, 34, 222, 0.7)

.levelup
  @extend %font-levelup
